target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/main/java/design/asd/course/pattern/composite/assignment/xmlparser/

src/main/java/design/asd/course/pattern/state/ceilingfan/frequentflyeraccount/withstate/img/img.png
src/main/java/design/asd/course/pattern/state/ceilingfan/frequentflyeraccount/withstate/img/img_1.png
/src/main/java/hackerank/
